In [1]:
import pandera as pa
import numpy as np

from pandera import Column, DataFrameSchema, Check, Index

In [2]:
import pandas as pd 

def read_google_sheet(sheet_id, sheet_name):
    sheet_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
    #sheet_url = sheet_url.replace("/edit#gid=", "/export?format=csv&gid=")
    print(sheet_url)
    try:
        tmp = pd.read_csv(sheet_url)
    except Exception as e:
        print(e)
    return 

# See: https://towardsdatascience.com/read-data-from-google-sheets-into-pandas-without-the-google-sheets-api-5c468536550

In [3]:
# from databooth.pandas import read_google_sheet - TODO

In [4]:
test_sheet_url = "https://docs.google.com/spreadsheets/d/1XqOtPkiE_Q0dfGSoyxrH730RkwrTczcRbDeJJpqRByQ/edit#gid=0"

In [6]:
# Example sheet ID / sheet name
sheet_id = "1XqOtPkiE_Q0dfGSoyxrH730RkwrTczcRbDeJJpqRByQ"
sheet_name = "sample_1"

In [7]:
data_df = read_google_sheet(sheet_id, sheet_name)

In [9]:
data_df

In [ ]:
schema = DataFrameSchema(
    {
        "Name": Column(str),
        "Attribute 1": Column(np.int64, Check(lambda a1: a1 > 30)),
        "Attribute 2": Column(np.float64, Check(lambda a2: a2 < 9.0)),
        "Attribute 3": Column(np.int64, Check(lambda a3: a3 < 8)),
        "label": Column(str, Check(lambda s: s in ['A','B'])
        ),
    },
    index=Index(int),
    strict=True,
    coerce=True,
)

In [ ]:
# schema.validate(data_df)  # - not working - long error

In [ ]:
schema_infer = pa.infer_schema(data_df)

In [ ]:
print(schema_infer)

<Schema DataFrameSchema(
    columns={
        'Name': <Schema Column(name=Name, type=str)>
        'Attribute 1': <Schema Column(name=Attribute 1, type=int64)>
        'Attribute 2': <Schema Column(name=Attribute 2, type=float64)>
        'Attribute 3': <Schema Column(name=Attribute 3, type=int64)>
        'label': <Schema Column(name=label, type=str)>
    },
    checks=[],
    coerce=True,
    pandas_dtype=None,
    index=<Schema Index(name=None, type=int64)>,
    strict=False
    name=None,
    ordered=False
)>

In [ ]:
schema_infer.validate(data_df)

/opt/homebrew/Caskroom/mambaforge/base/envs/py38_jupyter/lib/python3.8/site-packages/pandera/schemas.py:442: UserWarning: This <class 'pandera.schemas.DataFrameSchema'> is an inferred schema that hasn't been modified. It's recommended that you refine the schema by calling `add_columns`, `remove_columns`, or `update_columns` before using it to validate data.
  warnings.warn(

  Name  Attribute 1  Attribute 2  Attribute 3 label
0  ABC           97         7.98            2     A
1  DEF           34         5.36            3     B
2  GHI           65         4.31            4     B
3  JKL           57         3.47            7     A
4  MNO           32         9.24            5     A
5  PQR           75         1.28            4     A
6  STU           22         6.29            5     B
7  VWX           35         4.23            6     B

In [ ]:
schema_infer.to_yaml('data_df-schema_inferred.yaml')

In [ ]:
schema_read_yml = pa.io.from_yaml('data_df-schema_inferred.yaml')

In [ ]:
print(schema_read_yml)

<Schema DataFrameSchema(
    columns={
        'Name': <Schema Column(name=Name, type=str)>
        'Attribute 1': <Schema Column(name=Attribute 1, type=int64)>
        'Attribute 2': <Schema Column(name=Attribute 2, type=float64)>
        'Attribute 3': <Schema Column(name=Attribute 3, type=int64)>
        'label': <Schema Column(name=label, type=str)>
    },
    checks=[],
    coerce=True,
    pandas_dtype=None,
    index=<Schema Index(name=None, type=int64)>,
    strict=False
    name=None,
    ordered=False
)>

In [ ]:
schema_read_yml.validate(data_df)

  Name  Attribute 1  Attribute 2  Attribute 3 label
0  ABC           97         7.98            2     A
1  DEF           34         5.36            3     B
2  GHI           65         4.31            4     B
3  JKL           57         3.47            7     A
4  MNO           32         9.24            5     A
5  PQR           75         1.28            4     A
6  STU           22         6.29            5     B
7  VWX           35         4.23            6     B

In [ ]:
tmp

In [ ]:
schema_gsheet_id = "1wyLAbVm7l5OKCbFQrnugoqqRsw0XP6PSkJwf1mB05cg"
schema_gsheet_name = "NoHeaders"

In [ ]:
schema_df = read_google_sheet(schema_gsheet_id, schema_gsheet_name)

https://docs.google.com/spreadsheets/d/1wyLAbVm7l5OKCbFQrnugoqqRsw0XP6PSkJwf1mB05cg/gviz/tq?tqx=out:csv&sheet=NoHeaders
Error tokenizing data. C error: Expected 1 fields in line 6, saw 2

In [ ]:
schema_gsheet_url = schema_gsheet_url.replace("/edit#gid=", "/export?format=csv&gid=")

In [ ]:
schema_gsheet_url

'https://docs.google.com/spreadsheets/d/1wyLAbVm7l5OKCbFQrnugoqqRsw0XP6PSkJwf1mB05cg/export?format=csv&gid=108235142'

In [ ]:
# specify_datatable_schema_for_synthetic_data - NoHeaders.csv

In [ ]:
tmp2 = pd.read_csv('/Users/mjboothaus/Downloads/data.csv')

In [ ]:
tmp2

,First name,Last name,Post code,Address
0,Text,Text,Text or 4 digit number,Text
1,fake.first_name(),fake.last_name(),fake.postcode(),fake.street_address()

In [13]:
from faker import Faker

In [14]:
INITIAL_SEED = 42  # meaning of life :)
Faker.seed(INITIAL_SEED)

In [15]:
fake = Faker()

In [16]:
fake.name()

'Allison Hill'